/* Full page */
html, body {
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  height: 100%;
}

#root {
  height: 100%;
}

.auth-container {
  height: 100vh;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Squada One', cursive !important;
  color: white;
}

/* Title */
.auth-container h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: 'Squada One', cursive;
  color: white;
}

/* Auth box */
.auth-box {
  border: 5px solid #007acc;
  border-radius: 12px;
  padding: 40px;
  width: 350px;
  background-color: #1e1e1e;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.6);
}

/* Heading */
.auth-box h2 {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 32px;
}

/* Labels */
.auth-box label {
  display: block;
  margin-top: 15px !important;
  margin-bottom: 5px !important;
  justify-self: start;
  font-size: 1rem;
}

/* Inputs */
.auth-box input {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #cfcfcf;
  color: #000000;
  border-radius: 2px;
  outline: none;
}

/* Button */
.auth-box button {
  width: 70%;
  margin: 20px auto;
  display: block;
  padding: 10px;
  border-radius: 50px !important;
  background-color: white !important;
  border: 5px solid #007acc !important;
  color: black;
  cursor: pointer;
  font-size: 1.2rem;
}

.auth-box button:hover {
  background-color: #b5b5b5;
}

/* Switch text */
.switch-text {
  text-align: center;
  font-size: 0.9rem;
}

.switch-text a {
  color: #1e3aff;
  text-decoration: none;
}

.switch-text a:hover {
  text-decoration: underline;
}

/* Message */
.message {
  text-align: center;
  margin-top: 10px;
  font-size: 0.9rem;
  color: #ff4d4d;
}